body {
    margin: 0;
    background-color: #333;
}

#site {
    background-color: #000;
}

#tomlees, #tomlees .inside-block, #contact {
    background-color: #666;
}

#contact {
    height: 500px;
}

#olo {
    background-color: saddlebrown;
    width: 60px;
}

#fin {
    background-color: darkslategrey;
    width: 50px;
}

#press {
    background-color: brown;
    width: 70px;
}

#email a:hover:before {
    content: "Email";
}

#call a:hover:before {
    content: "Call";
}

hr {
    margin: 0;
    border-top: 1px solid #333;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

h1, h2, p, .swiper-pagination {
    margin: 0;
    padding: 10px;
    font-weight: 400;
    font-family: "BW Haas Head", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #999;
}

h1 {
    font-size: 80px;
    line-height: 0.85em;
}

h2, .swiper-pagination {
    font-size: 20px;
    line-height: 1em;
}

p {
    font-size: 30px;
    line-height: 1.15em;
    padding-top: 0.2875em;
    padding-bottom: 0.2875em;
}

@media only screen and (max-width: 700px) {
    p {
        font-size: 20px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.block {
    position: relative;
    max-width: 100%;
    height: 95vh;
    overflow: hidden;
}

.inside-block {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 2.5%;
    border: 1px solid #333;
}

.title-block {
    position: relative;
    max-width: 100%;
    height: 300px;
    overflow: hidden;
}

.color-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.swiper-container {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.half-block {
    display: inline-block;
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.text-block {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    width: inherit;
    height: inherit;
}

.image-block {
    margin: 0;
    display: block;
    position: relative;
    width: inherit;
    height: inherit;
}

.image-block img, .text-wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 80%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}

img {
    width: 100%;
}

.button, .text-center {
    text-align: center;
}

.button a:hover span {
    opacity: 0;
}

.button a:hover:before {
    position: absolute;
    left: 0;
    right: 0;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}
