.slides {
	width: 100%;
}

.snap {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	height: 100vh;
	width: 50vw;
}

.left,
.right {
	position: absolute;
    width: 50vw;
    height: 100vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

html, body {
	margin: 0;
	background-color: #fff;
	user-select: none;
}

body {
	opacity: 1;
	transition: 2s opacity;
}

body.fade-out {
	opacity: 0;
	transition: none;
}

header {
	margin-top: -4px;
}

canvas {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	min-height: 120vh;
	margin-top: -20vh;
	cursor: grabbing;
}

.category, .description {
	display: none;
}

#fixed {
	position: fixed;
}

#site, #projects, #contact {
	position: relative;
}

#site, #projects, #contact, .front {
	z-index: 1;
}

hr {
	margin: 0;
	border-top: 1px solid #1fffff;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

.line-block {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	border-right: 1px solid #1a1a1a;
}

.floating-wrapper img {
	border: 1px solid #333;
}

.text-outline {
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: #1a1a1a;
	color: #000;
}

@font-face {
	font-family: 'FL';
	src: url('fl.ttf') format('truetype'), url('fl.woff2') format('woff2'), url('fl.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, p, a, ul, .swiper-pagination {
	margin: 0;
	padding: 15px;
	line-height: 1em;
	font-weight: 300;
	font-family: 'FL', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
	color: #222228;
}

h1, p, li {
	font-size: 30px;
}

h2, .swiper-pagination {
	font-size: 15px;
}

h3 {
	font-size: 60px;
}

@media only screen and (max-width: 700px) {
	h1, p, li {
		font-size: 22.5px;
	}

	h3 {
		font-size: 45px;
	}
}

a {
	text-decoration: none;
	padding: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
	background: transparent;
}

.block {
	position: relative;
	max-width: 100%;
	height: 100vh;
	overflow: hidden;
}

.flex-block {
	position: relative;
	max-width: 100%;
}

.title-block {
	position: relative;
	max-width: 100%;
	height: 100vh;
	overflow: hidden;
}

.title-block {
	position: relative;
	max-width: 100%;
	height: 50vh;
	overflow: hidden;
}

.text-block {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	width: inherit;
	height: inherit;
}

.image-block, .floating-block {
	margin: 0;
	display: block;
	position: relative;
	width: inherit;
	height: inherit;
}

.half-block {
	display: inline-block;
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
}

.swiper-container, .full-block {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.image-block img, .floating-wrapper, .text-wrapper, .list-wrapper {
	position: relative;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
}

.image-block img {
	max-height: 80%;
}

.floating-wrapper img {
	max-width: 500px;
}

img {
	max-width: 100%;
}

.text-center {
	text-align: center;
}

.full-width {
	width: 100%;
}

@media only screen and (min-width: 700px) {
	#small-screen {
		display: none;
	}
}

@media only screen and (max-width: 699px) {
	#large-screen {
		display: none;
	}
}

.top {
	position: absolute;
	top: 0;
}

.top-left {
	position: absolute;
	top: 0;
	left: 0;
}

.top-right {
	position: absolute;
	top: 0;
	right: 0;
}

.bottom {
	position: absolute;
	bottom: 0;
}

.bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;
}
