.top {
	position: absolute;
	top: 0;
}

.top-left {
	position: absolute;
	top: 0;
	left: 0;
}

.top-right {
	position: absolute;
	top: 0;
	right: 0;
}

.bottom {
	position: absolute;
	bottom: 0;
}

.bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;
}

.left,
.right {
	position: absolute;
    width: 50vw;
    height: 100vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
	background: transparent;
}

html, body {
	margin: 0;
	background-color: #fff;
}

body {
	opacity: 1;
	transition: 2s opacity;
}

body.fade-out {
	opacity: 0;
	transition: none;
}

header {
	margin-top: -2px;
}

footer {
	margin-bottom: -2px;
}

#fixed {
	position: fixed;
}

#inline {
	display: inline-block;
}

#site, #projects, #contact {
	position: relative;
}

#site, #projects, #contact, .front {
	z-index: 1;
}

@font-face {
	font-family: 'FL';
	src: url('fl.ttf') format('truetype'), url('fl.woff2') format('woff2'), url('fl.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

hr {
	margin: 0;
	border-top: 1px solid #1fffff;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

h1, h2, h3, p, a, ul {
	margin: 0;
	padding: 1em;
	line-height: 1.3em;
	font-weight: 300;
	font-family: 'FL', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
	color: #222822;
}

h1, p, li {
	font-size: 15px;
}

h2 {
	font-size: 15px;
}

@media only screen and (max-width: 675px) {
	h1, p, li {
		font-size: 15px;
	}

	h2 {
		font-size: 15px;
	}
}

a {
	text-decoration: none;
	padding: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

img {
	max-width: 100%;
}
