body {
    margin: 0;
    background-color: #1a1a1a;
    user-select: none;
}

canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 110vh;
    margin-top: -15vh;
    cursor: pointer;
}

#site, #projects {
    background-color: #000;
}

#email a:hover:before {
    content: "Email";
}

#call a:hover:before {
    content: "Call";
}

#projects {
    position: relative;
}

#projects, .front {
    z-index: 1;
}

.front {
    mix-blend-mode: difference;
}

hr {
    margin: 0;
    border-top: 1px solid #1a1a1a;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.line-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-right: 1px solid #1a1a1a;
}

.floating-wrapper img {
    border: 1px solid #333;
}

.text-outline {
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #1a1a1a;
    color: #000;
}

h1, h2, h3, p, a, ul, .swiper-pagination {
    margin: 0;
    padding: 10px;
    font-weight: 400;
    font-family: "BW Haas Head", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    color: #999;
}

h1 {
    font-size: 80px;
    line-height: 0.85em;
}

h2, .swiper-pagination {
    font-size: 20px;
    line-height: 1em;
}

h3 {
    font-size: 40vh;
    line-height: 0.85em;
    padding: 0px;
}

p, li {
    font-size: 30px;
    line-height: 1.15em;
    padding-top: 0.575em;
    padding-bottom: 0.575em;
}

@media only screen and (max-width: 700px) {
    p, li {
        font-size: 20px;
    }
}

a {
    text-decoration: none;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.block {
    position: relative;
    max-width: 100%;
    height: 95vh;
    overflow: hidden;
}

.flex-block {
    position: relative;
    max-width: 100%;
}

.title-block {
    position: relative;
    max-width: 100%;
    height: 292px;
    overflow: hidden;
}

.text-block {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    width: inherit;
    height: inherit;
}

.image-block, .floating-block {
    margin: 0;
    display: block;
    position: relative;
    width: inherit;
    height: inherit;
}

.half-block {
    display: inline-block;
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.swiper-container, .full-block {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.image-block img, .floating-wrapper, .text-wrapper, .list-wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}

.image-block img {
    max-height: 85%;
}

.floating-wrapper img {
    max-width: 500px;
}

img {
    max-width: 100%;
}

.button, .text-center {
    text-align: center;
}

.button a:hover span {
    opacity: 0;
}

.button a:hover:before {
    position: absolute;
    left: 0;
    right: 0;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}
